body {
  font-family: "Montserrat", sans-serif;
  background-color: #fafafa;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
  margin-top: 0;
}

ul {
  list-style: none;
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  /* max-width: 1136px; */
  width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}
/* ========= header ============ */
.header {
}
.header-container {
  display: flex;
  justify-content: space-between;
  background-color: #1e0e07;
  padding: 16px;
}
.burger {
  display: none;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  background-color: #1e0e07;
}

/* .burger-line {
  width: 30px;
  height: 5px;
  background-color: white;
  border-radius: 5px;
  transition: all 0.3s ease;
} */

/* Медіа-запит для мобільних */
@media screen and (max-width: 768.98px) {
  /* Залишити навігацію прихованою за замовчуванням */
  .nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 52px;
    right: 10px;
    padding: 20px;
    border-radius: 10px;
  }

  .nav > ul {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 28px;
    color: #f4f4f4;
    background-color: #2d160b;
  }

  .nav.open {
    display: flex; /* Покажіть меню при додаванні класу "open" */
  }

  .burger {
    display: flex; /* Показати бургер-меню */
  }
}
